:root{
    --etc-1: #A35167;
    --etc-2: #B28166;
    --etc-3: #E3EEEE;
    --background: #242328;
    --primary-20: #306A62;
    --primary-40: #13A277;
    --primary-60: #97DF96;
    --primary-80: #B7DEA7;
    --primary-100: #516664;
    --glass-black: #2a292ecc;
    --mycursor-1: url('Images/Cursor-1.png');
}
