/* Resource: https://Fontserver.ir/font/InterFD */
@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Thin.ttf') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-ExtraLight.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Light.ttf') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Bold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-SemiBold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-ExtraBold.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter-Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}